.fullscreen-video-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.background-image {
    height: 24em;
    min-width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transition: background-size 2s ease-in-out;
    background-image: url("../../images/banner.jpg");
}

#background-water {
    position: absolute;
    width: 100%;
    height: 24em;
}

#background-water::before {
    transition: background-size 2s ease-in-out;
    content: "";
    position: absolute;
    padding: 0;
    min-width: 100%;
    min-height: 24em;
    background: url("../../images/bannerMask.png") center center;
    filter: url("#turbulence");
    background-size: 100% auto;
}

#header:hover #background,
#header:focus #background {
    background-size: 110% auto;
}

#header:hover #background-water::before,
#header:focus #background-water::before {
    background-size: 110% auto;
}