html, body {
    color: #ffffff;
    min-height: 100%;
}

body {
    height: 100vh;
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: inherit;
} 

a:hover {
    color: inherit;
}

.background {
    background: url("../../images/banner.jpg") center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 24em;
    padding: 0;

    transition: background-size 2s ease-in-out;
}

.background-water {
    position: absolute;
    width: 100%;
    height: 24em;
}

.background-water::before {
    background: url("../../images/bannerMask.png") center center;
    background-size: 100% auto;
    min-width: 100%;
    min-height: 24em;
    position: absolute;
    padding: 0;
    content: "";

    transition: background-size 2s ease-in-out;

    filter: url("#turbulence");
}

.header:hover .background,
.header:focus .background {
    background-size: 110% auto;
}

.header:hover .background-water::before,
.header:focus .background-water::before {
    background-size: 110% auto;
}

.mainnav {
    z-index: inherit;
    position: absolute;
    top: 2.5em;
    width: 100%;
    text-align: center;
}

.mainnav-box {
    z-index: inherit;
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
}

.mainnav-item {
    z-index: inherit;
    display: inline-block;
    text-align: center;
    padding: 0 1.5em 0 1.5em;
    color: rgba(255, 255, 255, 0.90);

    transition: all .25s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    height: 5em;
    line-height: 5em;
    cursor: pointer;
}

.mainnav-item:hover {
    color: #fff;
}

.boxshadow {
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px rgb(255 255 255 / 50%);
}

.logo {
    position: absolute;
    top: 8em;
    width: 100%;
    text-align: center;
}

.logo p {
    text-transform: uppercase;
    margin: 1.5em 0 0 0;
    display: block;
    letter-spacing: 0.2em;
    font-size: 0.9em;
}

.content {
    min-height: 100%;
    position: relative;
    text-align: center;
}

.bg-radialgradient {
    background-image: radial-gradient(at top, #f96574, #de5e7c, #ab516e, #77445f, #2c303a);
    background-size: 100% 100%;
    background-position: 0% 0%;
}

.boxpadding {
    padding: 1.5em;
    margin-bottom: 1.5em;
}

.blockmargin {
    margin-bottom: 1em;
}

.blockmargin-2 {
    margin-bottom: 2em;
}

.paddingtopbottom {
    padding: 5em 0px;
}

.profileimage {
    border-radius: 50%;
    height:200px;
    width:200px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.title {
    background-size: 100% 1000%;
    background-position: 50% 100%;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    letter-spacing: 0.25em;
    font-size: 0.9em;
    width: 25em;
    height: 3.25em;
    top: -3.25em;
    line-height: 3.25em;
    margin-bottom: -3.25em;
    margin-left: -12.5em;
    padding-top: 0.5em;
}

.title-main {
    background-image: radial-gradient(at bottom, #f96574, #EF6277, #E86179, #E25F7B);
}

.title-dark {
    background: #2c303a;
}

.title:before {
    content: '';
    position: absolute;
    bottom: -38px;
    left: -35px;
    width: 35px;
    height: 38px;
    background: url(images/shadow.png);
}

.title:after {
    transform: scaleX(-1);
    content: '';
    position: absolute;
    bottom: -38px;
    right: -35px;
    width: 35px;
    height: 38px;
    background: url(images/shadow.png);
}

.footer-content {
    margin: 4em 0 3em 0;
    display: inline-block;
}

.copyright-box {
    padding: .75em 1.5em;
    margin: 0 auto 3em auto;
    display: inline-block;
}

.footer {
    background: #2c303a;
    position: relative;
    text-align: center;
}

.boxshadow-dark {
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px rgb(255 255 255 / 20%);
}