.toplevel {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: white;
    color: white;
    padding: 30px;
    margin: 15px;
    width: 550px;
    height: 850px;
    box-shadow: 0 4px 12px 0 rgba(54, 21, 21, 0.3);
    font-family: 'Karla', sans-serif;
}

.form-label {
    font-size: large;
}

.form-check-label {
    font-size: medium;
}

.smalltext {
    display: block;
    color: white;
    margin-top: -12px;
    margin-bottom: 8px;
}

hr { 
    border: 0; 
    height: 2px !important; 
    background-color: white;
  }

.background-gradient {
    background-image: linear-gradient(to right top, #063171, #024a8c, #0264a5, #0d7fbe, #219bd6);
    animation: gradient 7s ease infinite;
    background-size: 200% 100%;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.buttoncontainer {
    text-align: center;
    position: relative;
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 10;
    clear: both;
  }

  
  .estimatebutton {
    position: relative;
    height: 50px;
    width: 280px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgba(54, 21, 21, 0.3);
    z-index: -2;
    color: white;
  }

  .fill {
    position: absolute;
    background-image: linear-gradient(to right, #E040FB, #00BCD4);
    background-size: 150% 150%;
    height: 70px;
    width: 420px;
    border-radius: 5px;
    margin: -40px 0 0 -140px;
    z-index: -1;
    transition: all 0.4s ease;
  }
  
  .buttoncontainer:hover .fill{
    -webkit-animation: gradient 3s ease infinite;
    -moz-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
  }
